<h1>Books#index</h1>


<section class="users" id="registrations_edit">

  <%= link_to 'Change password', '#void', id: 'change_password' %>

  <div id="password_modification">

    [...some form fields here...]

  </div>

  <br>

  <%= link_to 'Go back to root', '/' %>

</section>
